/* 
==================================================
        TABLE OF CONTENT
==================================================

    1.Hero design ==> left article
    2.animation ==> right article
    



*/


/* 
==================================================
        1.Hero design ==> left article
==================================================
*/


/* .hero{
    border:1px solid red;
    
} */
.header-border {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    width: 100%;
}

section article.profil{
    
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}
section article.animation{
    
    padding: 1rem;
}
section .moi{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.5px solid gray;
    padding: 2px;
    

}

section article h1{
    letter-spacing: 3px;
    font-size: 2.85rem; 
    font-weight: bold;
    line-height: 3rem;
    color: var(--title);
}
section .icons{
    /* border: 1px solid red; */
    justify-content: flex-start;
    margin-left: 0;
    gap: 1rem;
    padding-left: 0;

}
section .icon{
    left: 0;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    
    color: var(--subtitle);
    font-size: 1.2rem;
    
}

section .icon:hover{
    font-size: 1.3rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
}

section .divP {
    margin-top: 0.6rem ;
    
    
    
}
/* section .divP {
    justify-content: space-between;
} */

section article p{
    color: var(--subtitle);
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: bold;
}


/* 
==================================================
        2.animation ==> right article
==================================================
*/