@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary:#000;
    --secondary: #18181b;
    --border: rgb(63,63,70,0.4);
    
    --title:rgb(244,244,245);
    --subtitle:rgb(105,105,112);

    --bgHeader:rgb(37,37,41);
    --blue:rgb(93,188,252);

    --icon-hover:#d4d4d8;

    --container-padding:4.8rem
}
.light{
    --primary:#fff
}
*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    align-items: center;
}
html{
    font-family: 'roboto',sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}
*, *:before, *:after {box-sizing: inherit;}

button{
    all: unset;    
}
button:hover{
    cursor: pointer;
}
button:active{
    scale: 0.9;
}

a:hover{
    cursor: pointer;
}
body {
    background-color: var(--primary);
}
.container{
    border: 1px solid var(--border);
    color: white;
    margin: 0;
    padding: 0 4.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: var(--secondary);
    
}
a{
    text-decoration: none;
    color: initial;
    transition: 0.2s;
}
.divider{
    border-bottom: 1px solide red;
    /* border-bottom: 1px solide var(--border); */
    margin-bottom: 3rem 0;
}
.header-border {
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
    width: calc(100% + 4.8rem + 4.8rem);
    margin-left: -4.8rem;
}

@media (max-width: 1000px){
    .container{
        width: 90%;
        padding: 0 1.7rem;
    }
    .header-border{
        width: calc(100% + 1.7rem + 1.7rem);
    margin-left: -1.7rem;
    }
}
@media (max-width: 600px){
    .container{
        width: 98%;
        padding: 0 1.7rem;
    }
    .header-border{
        width: calc(100% + 1.7rem + 1.7rem);
    margin-left: -1.7rem;
    }
}
